 @media (max-width: 700px) {/* Para mobile */
    #inicio {
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: 0px;
        background-position-x: 0;
    }
}
@media (max-width: 768px) {/* Para tablet */
    #inicio {
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: -100px;
        background-position-x: 0;
    }
}
@media (max-width: 1200px) {/* Para monitores mas grandes */
    #inicio {
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: -180px;
        background-position-x: 0;
    }
}



body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1{
    color: #E20000;
    font-weight: bold;   
}
p{
    color: #6A6A6A ;
}

/* Navegador */
nav .nav-link{
    color: #282828;
    padding: 2px 15px !important;
}
nav .active{
    border: 2px solid #E20000;
    font-size: 15px;
    border-radius: 20px;
    font-weight: 100;
}
nav .CV{
    background-color: #E20000;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    padding: 5px 20px;
    font-weight: 100;
}
.CV:hover{
    background-color: #370a6d;
    color:white;
    text-decoration:none;
    font-size: 15px;
    border-radius: 20px;
    padding: 5px 20px;
    font-weight: 100;
}
.fa-bars:before {
    color: #E20000;
}


/* Contacto */

#contacto{
    background-image: url(../images/fondo-contacto.png);
    background-size: 100%;
    background-repeat: no-repeat; 
    height: 90vh; 
    background-size: cover;
} 
textarea{
        height: 150px !important;
        resize: none;
}
input, textarea {
    border-radius: 15px !important;
    border: 0px !important;
}
button.btn{
    color:#370a6d;
    background-color: white;
    border-radius: 20px;
    font-weight: 500;
    font-size: 16px;
    padding: 5px 35px;
}
button.btn:hover{
    color:white;
    background-color: #370a6d;
    border-radius: 20px;
    font-weight: 500;
}


/* Footer */

footer, footer a {
    color: white;
    font-weight: 100;
    font-size: 14px;
    margin: 0px;
    
}
footer a:hover{
    text-decoration: underline;
    color: white; 
}
footer .fa-linkedin-in {
    color: #ff4a49;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 9px 0 0 0;
    border-radius: 80px;
    margin: 0 10px;
}
footer .fa-github{
    font-size: 30px;
    color: white;
}
footer .fa-whatsapp{
    color:white;
    background-color:#370a6d ;
    padding: 18px;
    font-size: 30px;
    border-radius: 10px 10px 0px 0px;
    padding-bottom:13px;
}
#proyectos footer, #proyectos footer a {
    color: #E20000;
}
#proyectos footer .fa-linkedin-in {
    color: white;
    background-color:#E20000;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 9px 0 0 0;
    border-radius: 80px;
    margin: 0 10px;
}
#proyectos footer .fa-github {
    font-size: 30px;
    color: #E20000;
}
#sobremi footer, #sobremi footer a {
    color: #E20000;
}
#sobremi footer .fa-linkedin-in {
    color: white;
    background-color:#E20000;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 9px 0 0 0;
    border-radius: 80px;
    margin: 0 10px;
}
#sobremi footer .fa-github {
    font-size: 30px;
    color: #E20000;
}



/** Proyectos **/
#proyectos{
    background-image: url(../images/fondo_sobremi_proyectos.png);
    background-size: 100%;
    background-repeat: no-repeat; 
    
    background-size: cover;
}
#proyectos img { 
    width: max-content;
    height: 177px;
}
p.trabajos{
    height: 55px !important;
}
#proyectos p {
    font-size: 14px;
    height: 105px;
}
#proyectos .bg-red {
    background-color: #E20000;
}
#proyectos h3{
    color: white;
    font-size:15px ;
    font-weight: 600;
}
#proyectos .link-rojo{
    color: #E20000;
}
#proyectos .btn{
    background-color: #E20000;
    color: white;
    font-size: 10px;
    border-radius: 20px;
    padding: 5px 20px;
    font-weight: 100;
}
#proyectos .cdFuente{
    color: #E20000;
    font-size: 10px;
}
.color-gradiente {
    background: rgba(184,37,20,1);
    background: -moz-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(184,37,20,1)), color-stop(47%, rgba(214,52,30,1)), color-stop(70%, rgba(240,47,23,1)), color-stop(100%, rgba(240,47,23,1)));
    background: -webkit-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: -o-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: -ms-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: linear-gradient(to right, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b82514', endColorstr='#f02f17', GradientType=1 );
}
#proyectos h2{
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    padding: 0px;
    margin: 0px;  
}
#proyectos .card{
    border-radius: 25px;
}



/** Sobre mi **/
#sobremi{
    background-image: url(../images/fondo_sobremi_proyectos.png);
    background-size: 100%;
    background-repeat: no-repeat; 
    height: 81vh; 
    background-size: cover;
}
.CV{
    background-color: #E20000;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    padding: 5px 20px;
    font-weight: 100;
}
#tecnologias h3{
    font-size: 14px;
    color: #282828;
    font-weight: 300;
}
#tecnologias, .{
    margin-top: 10px;
    padding-bottom: 100px;
}
#sobre-mi .tecno {
    filter: grayscale(100%);
}

#sobre-mi .tecno:hover {
    filter: grayscale(0);
}
#sobre-mi h2 {
    
    font-size: 25px;
}

.iconos a {
    color: #E20000 !important;
    font-weight: 100 !important;
    font-size: 33px !important;
}
.iconos .fa-linkedin-in {
        color: white !important;
        background-color:#E20000!important;
        font-size: 20px;
        border: 0px;
        height: 32px;
        width: 32px;
        text-align: center;
        padding: 9px 0 0 0;
        border-radius: 80px;
        margin: 0 10px;
}

#sobremi .img-perfil {
    margin: 1em auto !important;
    display: block !important;
    height: auto !important;
    width: 100% !important;
    background-color: #fff !important;
    border: 0px solid !important;
    border-radius: 50% !important;
}


#idiomas, #experiencia, #estudios{
    padding-top: 60px;
    padding-bottom: 60px;
}
#idiomas{
    background-color:#ededed;
}
#idiomas .bg-purpura {
    background-color: #370A6D;
    color: white;
    font-size: 64px;
    display: flex;
    justify-content: center;
}
#idiomas h2{
    font-size: 17px;
    font-weight: bold;
}
#idiomas .card{
    height: 180px;
    border-radius: 20px;
}
#idiomas .hobie,.idioma{
    margin-top: 30px;
    
}
#experiencia, #estudios p{
    font-size: 14px;
}
#experiencia{
    background-color: white;
}
#experiencia .img-circle{
    border: 1px solid #000;
    border-radius: 50%;
    width: 80%  
}
#experiencia i{
    font-size: 60px;
    color: #370a6d;
    padding-bottom: 32px;
}
#experiencia h2{
    color: #370A6D;
    padding-top: 15px;
}
#experiencia .btnempresa{
    background-color: #370A6D;
    color: white;
    font-size: 12px;
    border-radius: 20px;
    padding: 5px 20px;
    font-weight: 100;
}
#experiencia .nombre-cargo {
    color: #6a6a6a;
    font-size: 21px;
    font-weight: Bold;
    padding-top: 20px;
}

#experiencia .nombre-empresa {
    color: #370a6d;
    font-size: 17px;
    font-weight: Bold;
}

#experiencia .tiempo {
    color: #6a6a6a;
    font-size: 15px;
    font-weight: 300;
}

#experiencia p {
    color: #000;
    font-size: 13px;
    font-weight: 500;
}
#experiencia .card{
    border-radius: 25px;
}

#estudios{
    background-color: #ededed;
}
#estudios i{
    font-size: 60px;
    color:red;
    padding-bottom: 32px;
}
#estudios .img-circle{
    border: 1px solid #000;
    border-radius: 50%;
    width: 80%  
}
#estudios h2{
    color: red;
    padding-top: 15px;
}
#estudios .btnempresa{
    background-color: #E20000;
    color: white;
    font-size: 12px;
    border-radius: 20px;
    padding: 5px 20px;
    font-weight: 100;
}
#estudios .nombre-cargo {
    color: #6a6a6a;
    font-size: 21px;
    font-weight: Bold;
    padding-top: 20px;
}

#estudios .nombre-empresa {
    color: #E20000;
    font-size: 17px;
    font-weight: Bold;
}

#estudios .tiempo {
    color: #6a6a6a;
    font-size: 15px;
    font-weight: 300;
}

#estudios p {
    color: #000;
    font-size: 13px;
    font-weight: 500;
}
#estudios .card{
    border-radius: 25px;
}

#inicio{
    background-image: url(../images/fondo_inicio.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: red;
    margin:0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 80vh;  
}
#inicio #inputSearchContainer {
    font-size: 22px;
    font-family: "Montserrat";
    font-weight: 100;
    border: 2px solid #fff !important;
    height: max-content;
    border-radius: 50px;
    margin: 70vh auto 0 auto;
    color: #fff;
}

#inicio .btn {
    background-color: #fff;
    color: #370A6D;
    padding: 13px 20px;
    margin: 0 auto 50px auto;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 400;
    transition: background-color 0.5s ease;
}

#inicio .btn:hover {
    background-color: #370A6D;
    color: #fff;
    border-radius: 50;
}

#inicio span{
    font-weight: bold;
}